@font-face {
  font-family: 'Telegraf';
  src: url('./assets/PPTelegraf-Regular.otf') format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Telegraf';
  background-image: url("./assets/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  display: flex;
  flex-direction:column;
}



.row {
  display:flex;
  flex-direction: row;
  align-items:center;
}

h1 {
  font-size: 150px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size:40px;
  padding: 0;
  margin: 0;
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

